// ==========================================================================
// * # Padding mixins
// ==========================================================================

.padding-set-all (@padding: 10px) {
	padding: @padding;
}

.padding-set-vertical (@padding: 10px) {
	padding-top: @padding;
	padding-bottom: @padding;
}

.padding-set-horizontal (@padding: 10px) {
	padding-left: @padding;
	padding-right: @padding;
}

.padding-set-top (@top: 10px) {
	padding-top: @top;
}

.padding-set-bottom (@bottom: 10px) {
	padding-top: @bottom;
}

.padding-set-right (@right: 10px) {
	padding-top: @right;
}

.padding-set-left (@left: 10px) {
	padding-top: @left;
}

// ==========================================================================
// * # Margin mixins
// ==========================================================================

.margin-set-all (@margin: 10px) {
	margin: @margin;
}

.margin-set-vertical (@margin: 10px) {
	margin-top: @margin;
	margin-bottom: @margin;
}

.margin-set-horizontal (@margin: 10px) {
	margin-left: @margin;
	margin-right: @margin;
}

.margin-set-top (@top: 10px) {
	margin-top: @top;
}

.margin-set-bottom (@bottom: 10px) {
	margin-top: @bottom;
}

.margin-set-right (@right: 10px) {
	margin-top: @right;
}

.margin-set-left (@left: 10px) {
	margin-top: @left;
}