// ==========================================================================
// * General slide styles
// ==========================================================================

.alternate-text {
	color: @blue;
}

.classic {
	h3 {
		font-size: 25px;
		line-height: 120%;
		margin-bottom: 30px;
	}

	p {
		font-size: 30px;
		line-height: 180%;
	}
}

.emphasis {
	color: @blue;
	font-weight: 600;
	font-size: 55px;
}

@media only screen and (max-width: 480px) {
	.classic {
		h3 {
			font-size: 14px;
			margin-bottom: 20px;
		}

		p {
			font-size: 18px;
		}
	}

	.emphasis {
		font-size: 30px;
	}
}

// ==========================================================================
// * First slide: Introduction
// ==========================================================================

.ooomf-logo {
	width: 300px;
	margin: auto;

	img {
		width: 100%;
	}
}

h2 {
	font-size: 30px;
}

[data-bespoke-hash="introduction"] {
	background-image: url(../img/map2.jpg);
	.background-size(cover);
	background-position: center;
}

.helper {
	margin-top: 0;
	font-size: 14px !important;
	font-style: italic;
	opacity: .4;
}

// iPhone
@media only screen and (max-width: 480px) {
	.ooomf-logo {
		width: 100px;
	}
}



// ==========================================================================
// * Second slide: The shift
// ==========================================================================


[data-bespoke-hash="the-shift"] {
	background-image: url(../img/hipster.jpg);
	.background-size(cover);
	background-position: center;
}

// ==========================================================================
// * Third slide: Graph 1
// ==========================================================================

.graph-1 {
	width: 100%;
	margin: auto;
}

// ==========================================================================
// * Fourth slide: Economic Movement
// ==========================================================================


[data-bespoke-hash="economic-movement"] {
	background-image: url(../img/industrial.jpg);
	.background-size(cover);
	background-position: center;
}

// ==========================================================================
// *  5th slide: why-1
// ==========================================================================

[data-bespoke-hash="why-1"] {
	background-image: url(../img/map2.jpg);
	.background-size(cover);
	background-position: center;
}

// ==========================================================================
// *  6th slide: why-2
// ==========================================================================

// ==========================================================================
// *  7th slide: startups will contract $1 Billion
// ==========================================================================

// nothing

// ==========================================================================
// *  8th slide: current solutions broken
// ==========================================================================

.split-3 {
	.clearfix();
	width: 30%;
	margin-right: 5%;
	float: left;
	.box-sizing(border-box);

	&:last-of-type {
		margin-right: 0;
	}
}

[data-bespoke-hash="current-solutions-broken"] {
	p {
		font-size: 25px;
		line-height: 130%;
		margin-bottom: 10px;

		em {
			font-size: 20px;
		}
	}

	@media only screen and (max-width: 480px) {
		p {
			font-size: 14px;
			margin-bottom: 5px;

			em {
				font-size: 12px;
			}
		}
	}
}


// ==========================================================================
// *  8th slide: current solutions broken
// ==========================================================================

// ==========================================================================
// *  9th slide: noise (more independent professionals = more disconnected)
// ==========================================================================

[data-bespoke-hash="noise"] {
	background-image: url(../img/noise.jpg);
	.background-size(cover);
	background-position: center;
}

// ==========================================================================
// *  10th slide: ooomf - a platform that connects quality projects ...
// ==========================================================================

// nothing

// ==========================================================================
// * 11th slide: starting with the most in demand: mobile and web talent
// ==========================================================================

[data-bespoke-hash="mobile-and-web-talent"] {
	background-image: url(../img/collab2.jpg);
	.background-size(cover);
	background-position: center;
}

// ==========================================================================
// *  12th slide: meet jeff
// ==========================================================================

[data-bespoke-hash="meet-jeff"] {
	img {
		width: 200px;
		margin-bottom: 30px;
	}

	p {
		line-height: 140%;
	}

	@media only screen and (max-width: 480px) {
		img {
			width: 100px;
			margin-bottom: 20px;
		}

		p {
			line-height: 120%;
		}
	}
}

// ==========================================================================
// *  13th, 14th, 15th: inspiration slides
// ==========================================================================


[data-bespoke-hash="pitch-your-inspiration-1"] {
	background-image: url(../img/estimate-1@2x.jpg);
	.background-size(cover);
	background-position: center;
}

[data-bespoke-hash="pitch-your-inspiration-2"] {
	background-image: url(../img/estimate-2@2x.jpg);
	.background-size(cover);
	background-position: center;
}

[data-bespoke-hash="pitch-your-inspiration-3"] {
	background-image: url(../img/estimate-3@2x.jpg);
	.background-size(cover);
	background-position: center;
}

// ==========================================================================
// *  16th: the best pros come to you
// ==========================================================================

[data-bespoke-hash="pros-come-to-you"] {
	background-image: url(../img/profile@2x.jpg);
	.background-size(cover);
	background-position: center;
}

// ==========================================================================
// *  17th: review: no noise, no bidding, no spam
// ==========================================================================

// nothing

// ==========================================================================
// *  18th: we handle: payments, legal, communication
// ==========================================================================

// nothing

// ==========================================================================
// *  19th: this year: $650,000, $300,0000
// ==========================================================================

// nothing

// ==========================================================================
// *  20th: on pace for $5MM
// ==========================================================================

// nothing

// ==========================================================================
// *  21st: average project budget of 5k
// ==========================================================================

// nothing

// ==========================================================================
// *  22nd: quality projects bring quality talent (path, apple, mailbox, google)
// ==========================================================================

.graph-2 {
	width: 80%;
	margin-top: 30px;
	margin-bottom: 30px;
}

.image-row {
	width: 80%;

	img {
		width: 20%;
		margin-right: 4%;
	}

	.apple {
		width: 10%;
	}
}

@media only screen and (max-width: 480px) {
	.graph-2 {
		width: 90%;
	}
}

// ==========================================================================
// *  23rd: match rate: 99% of projects match within 24 hours
// ==========================================================================

[data-bespoke-hash="match-rate"] {
	text-align: right;
}

// ==========================================================================
// *  24th: meet milan
// ==========================================================================

[data-bespoke-hash="meet-milan"] {
	background-image: url(../img/milan.jpg);
	.background-size(cover);
	background-position: right;
	text-align: center;
}

// ==========================================================================
// *  25th: how did we get here
// ==========================================================================

// nothing

// ==========================================================================
// *  26th: where we're headed
// ==========================================================================

.graph-3 {
	width: 100%;
}

// ==========================================================================
// *  27th: partnerships: freshbooks
// ==========================================================================

.freshbooks {
	margin: auto;
	margin-bottom: 30px;
	width: 300px;
}

@media only screen and (max-width: 480px) {
	.freshbooks {
		width: 40%;
		margin-bottom: 0;
	}
}

// ==========================================================================
// *  28th: vision - unlocking access for anyone, anywhere ...
// ==========================================================================

[data-bespoke-hash="vision"] {
	background-image: url(../img/map2.jpg);
	.background-size(cover);
	background-position: center;
}

// ==========================================================================
// *  29th: TEAM
// ==========================================================================

.split-2 {
	width: 40%;
	margin-right: 7%;
	float: left;
	.box-sizing(border-box);

	.text {
		float: left;
		width: 60%;
	}

	p {
		font-size: 17px;
	}

	.image {
		width: 30%;
		float: left;
		margin-right: 10%;
		margin-bottom: 0;
	}
}

// ipad
@media only screen and (min-width: 481px) and (max-width: 768px) {
	.split-2 {
		p {
			font-size: 15px;
			line-height: 140%;
		}
	}
}

// landscape iphone
@media only screen and (min-width: 321px) and (max-width: 480) {
	.split-2 {
		width: 44%;
		margin-right: 2%;
		p {
			font-size: 12px;
			line-height: 130%;
		}
	}
}

// portrait iphone
@media only screen and (max-width: 320px) {
	.split-2 {
		width: 100%;
		margin-right: 0;

		p {
			font-size: 10px;
			line-height: 130%;
		}

		.image {
			width: 20%;
			margin-right: 5%;
			margin-bottom: 15px;
		}
	}
}

// ==========================================================================
// *  30th: investors & advisors
// ==========================================================================

[data-bespoke-hash="investors-advisors"] {
	
	.split-3 img {
		width: 35%;
	}

	.split-3:nth-of-type(1) img { // real
		padding-bottom: 20px;
	}

	.split-3:nth-of-type(2) img { // bdc
		width: 60%;
	}

	.split-3:nth-of-type(3) img { // FF
		width: 30%;
	}

	.split-3 p {
		font-size: 22px;
		line-height: 130%;
	}

	.adam {
		text-align: left;
		
		.title {
			margin-top: 40px;
			font-size: 18px;
			font-weight: 600;
			margin-bottom: 10px;
		}

		p {
			font-size: 16px;
			margin: 0;
			line-height: 130%;
		}
	}

	@media only screen and (min-width: 481px) and (max-width: 768px) {
		.split-3 p {
			font-size: 18px;
		}
	}

	@media only screen and (max-width: 480px) {

		.split-3 p {
			font-size: 16px;
		}
		.adam {
			.title {
				margin-top: 20px;
				font-size: 12px;
				margin-bottom: 5px;
			}
			p {
				font-size: 12px;
			}
		}
	}
}



// ==========================================================================
// *  31st: raising $1MM
// ==========================================================================

// nothing

// ==========================================================================
// *  32nd: fortune 500
// ==========================================================================

[data-bespoke-hash="fortune-500"] {
	background-image: url(../img/city.jpg);
	.background-size(cover);
	background-position: center;
}

// ==========================================================================
// *  33rd: seth godin revolution quote
// ==========================================================================

[data-bespoke-hash="revolution"] {
	background-image: url(../img/seth.jpg);
	.background-size(cover);
	background-position: center;
}

// ==========================================================================
// *  34th: final slide
// ==========================================================================

.contact-information {
	margin-top: 30px;
}