// ==========================================================================
// *
// * Slides
// *
// * styles for layout of slides
// * 1. general slide layout
// * 2. double slide height
// * 3. alter table wrapper to restrict responsiveness
// *
// ==========================================================================

section {
	background: @slideBackgroundColor;
	width: 100%;
	height: 100%;
	min-height: 650px;
	.box-sizing(border-box);
	padding: 100px;
	color: @white;
	.border-radius(3px);
}

.auto {
	height: auto !important;
}