// ==========================================================================
// * General slide styles
// ==========================================================================

.alternate-text {
	color: @blue;
}
.classic {
	h3 {
		font-size: 25px;
		line-height: 120%;
		margin-bottom: 30px;
	}

	p {
		font-size: 30px;
		line-height: 180%;
	}
}

.emphasis {
	color: @blue;
	font-weight: 600;
	font-size: 55px;
}

.split-3 {
	width: 30%;
	margin-right: 5%;
	float: left;
	.box-sizing(border-box);

	&:last-of-type {
		margin-right: 0;
	}
}

@media only screen and (max-width: 480px) {
	.classic {
		h3 {
			font-size: 14px;
			margin-bottom: 20px;
		}

		p {
			font-size: 18px;
		}
	}
}

// ==========================================================================
// * First slide: Introduction
// ==========================================================================

.ooomf-logo {
	width: 300px;
	margin: auto;

	img {
		width: 100%;
	}
}

h2 {
	font-size: 30px;
}

[data-bespoke-hash="introduction"] {
	background-image: url(../img/map2.png);
	.background-size(cover);
	background-position: center;
}

.helper {
	margin-top: 0;
	font-size: 14px !important;
	font-style: italic;
	opacity: .4;
}

// iPad
@media only screen and (min-width: 481px) and (max-width: 768px) {

}

// iPhone
@media only screen and (max-width: 480px) {
	.ooomf-logo {
		width: 100px;
	}
}



// ==========================================================================
// * Second slide: The shift
// ==========================================================================


[data-bespoke-hash="the-shift"] {
	background-image: url(../img/hipster.png);
	.background-size(cover);
	background-position: center;
}

// ==========================================================================
// * Third slide: The shift 2
// ==========================================================================

// graph stuff

// ==========================================================================
// * Fourth slide: Economic Movement
// ==========================================================================


[data-bespoke-hash="economic-movement"] {
	background-image: url(../img/industrial.png);
	.background-size(cover);
	background-position: center;
}

// ==========================================================================
// *  slide: Noise
// ==========================================================================

[data-bespoke-hash="why-1"] {
	background-image: url(../img/map2.png);
	.background-size(cover);
	background-position: center;
}

// ==========================================================================
// *  slide: Noise
// ==========================================================================

[data-bespoke-hash="noise"] {
	background-image: url(../img/noise.png);
	.background-size(cover);
	background-position: center;
}

// ==========================================================================
// *  slide: mobile and web talent
// ==========================================================================

[data-bespoke-hash="mobile-and-web-talent"] {
	background-image: url(../img/collab2.png);
	.background-size(cover);
	background-position: center;
}

[data-bespoke-hash="meet-jeff"] {
	img {
		width: 200px;
		margin-bottom: 30px;
	}

	p {
		line-height: 140%;
	}
}


[data-bespoke-hash="pitch-your-inspiration-1"] {
	background-image: url(../img/estimate-1@2x.png);
	.background-size(cover);
	background-position: center;
}

[data-bespoke-hash="pitch-your-inspiration-2"] {
	background-image: url(../img/estimate-2@2x.png);
	.background-size(cover);
	background-position: center;
}

[data-bespoke-hash="pitch-your-inspiration-3"] {
	background-image: url(../img/estimate-3@2x.png);
	.background-size(cover);
	background-position: center;
}

[data-bespoke-hash="pros-come-to-you"] {
	background-image: url(../img/profile@2x.png);
	.background-size(cover);
	background-position: center;
}

[data-bespoke-hash="match-rate"] {
	text-align: right;
}

[data-bespoke-hash="meet-milan"] {
	background-image: url(../img/milan.png);
	.background-size(cover);
	background-position: center;
	text-align: center;
}

.image-row {
	width: 600px;

	img {
		width: 20%;
		margin-right: 4%;
	}

	.apple {
		width: 10%;
	}
}

[data-bespoke-hash="vision"] {
	background-image: url(../img/map2.png);
	.background-size(cover);
	background-position: center;
}

[data-bespoke-hash="fortune-500"] {
	background-image: url(../img/city.png);
	.background-size(cover);
	background-position: center;
}

[data-bespoke-hash="revolution"] {
	background-image: url(../img/seth.png);
	.background-size(cover);
	background-position: center;
}

.graph-1 {
	width: 80%;
	margin: auto;
}

.graph-2 {
	width: 80%;
	margin-top: 30px;
	margin-bottom: 30px;
}

.graph-3 {
	width: 95%;
	margin: auto;
}